<header class="navheader">
    <nav class="navbar navbar-expand-lg bg-light csk-navbar">
          <a class="navbar-brand mss-5 forSmall" href="#">
            <img src="./../../../assets/logo/arav-logo.png" height="50" class="rounded float-start" alt="MDB Logo" loading="lazy" style="margin-top: -1px;"/>
          </a>
          <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon middle-bar"></span>
            <span class="toggler-icon bottom-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center navb newone" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item dropdown but">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Shop catalog 
                </a>
                <ul class="dropdown-menu butt">
                  <li><a class="dropdown-item" (click)="toMen()" >Men</a></li>
                  <li><a class="dropdown-item" (click)="toWomen()" >Women</a></li>
                  <li><a class="dropdown-item" (click)="toShoes()" >Shoes</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
            </ul>
            
          </div>
          <div  class="collapse navbar-collapse justify-content-end me-5 forPadding" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link me-3 mt-2">
                    <i class="fa" style="font-size:24px">&#xf07a;</i>
                    <span class='badge badge-warning' id='lblCartCount'>{{count}}</span>
                  </a>
                </li>
                <li class="nav-item" *ngIf="!shown">
                  <a class="nav-link me-3">
                    <!-- <i class="fa" style="font-size:24px">&#xf07a;</i>
                    <span class='badge badge-warning' id='lblCartCount'>{{count}}</span> -->
                    <button class="btn btn-primary" (click)="tologin()">Login</button>
                  </a>
                </li>

                <li class="nav-item dropdown top" style="margin-top: 9px;" *ngIf="shown">
                    <a class="navlink dropdown-toggle d-flex align-items-center" id="navbarDropdownMenuAvatar"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                      <li>
                        <a class="dropdown-item" href="#">My profile</a>
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                      </li>
                    </ul>
                </li>
              </ul>
          </div>
        
      </nav>
    
</header>
