 
.footer {
    background-image: url(../../../assets/logo/banner-2.jpg);
    /* background-image: url(../Img/footer.jpg); */
    background-position: center center;
    /* background-position: bottom 10px right 20px; */
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-family: "Oswald", Sans-serif;
    font-weight: 400;
    color: inherit;
    padding-top: 100px;
    padding-bottom: 150px;
    font-size: 13px;
    letter-spacing: 2px !important;
    position: relative;
}

.footer .back {
    background-color: #19191A;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

 




h5{
    font-weight: 500;
}

footer{
    font-family: Arial,sans-serif;
}

footer ul {
    list-style-type: none;
    white-space: nowrap;
    margin: 0 0 8px 0;
    padding: 1px 1px 1px 1px;
    
    font-family: Arial,sans-serif;

}

footer ul li{
    text-align: -webkit-match-parent;
    font-size: 14px;
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 4px;
}

footer ul li:hover{
    text-decoration: underline;
}

footer p{
    font-size: 14px;
    font-weight: 100;
}

.nav-footer-line {
    border-top: -10px solid #3a4553;
    margin-top: 20px;
}

.navFooterLinkLine ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0 0.6em; */
}

.hi ul li{
    padding: 0 0.6em;
}

.nav-footer-line {
    border-top: -10px solid #3a4553;
    margin-top: 20px;
}

.hi ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0 0.6em; */
}

.navFooterLinkLine ul li{
    padding: 0 0.6em;
}

.row .hi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hi a{
    color: #fff;
    text-decoration: none;
}
 
  @media screen and (max-width:600px){

 


    


  }