

<footer>
    <div class="back pt-4">

    </div>
    <div class="container">
        <div class="row text-center">
            <img src="../../../assets/logo/arav-logo (1).png" class="img-responsive newlogo">
        </div>
<div class="row">
    <div class="col-md-3">

    </div>
        <div class="col-md-6 text-center">
            <ul class="data text-center">
                <li>
                    <a> Home</a>
                </li>
                <li>
                    <a> About Us</a>
                </li>
                <li>
                    <a>Contact Us</a>
                </li>
                <li>
                    <a>Trophies</a>
                </li>
                <li>
                    <a>Squad</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
        
        </div>
        </div>
        <div>
            <ul class="inlineList text-center">
                <li>  <a href="" style="color: #d1ab3e; text-decoration: none;" id="hi"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span></a></li>
                <li><a href="" style="color: #d1ab3e; text-decoration: none; padding-left: 10px;"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span></a></li>
                <li> <a href="" style="color: #d1ab3e; text-decoration: none; padding-left: 10px;"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span></a></li>
                <li><a href="" style="color: #d1ab3e; text-decoration: none; padding-left: 10px;"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                  </span></a></li>
                <li><a href="" style="color: #d1ab3e; text-decoration: none; padding-left:2px;"><span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span></a></li>
            </ul>
        </div>
    </div>
</footer>