
/* You can add global styles to this file, and also import other style files */
@import url('http://fonts.cdnfonts.com/css/gotham');

 

body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9e8e5;
    overflow-x: hidden;

}

@media screen and (max-width:600px){

    /* *{
        /* overflow-y: scroll; */
        /* overflow-y: hidden; */
    /* } */

}